<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    <div class="container">
      <!DOCTYPE html>
      <html lang="en">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Bootstrap CRUD Data Table for Database with Modal Form</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
      </head>
      <body>
            <div class="table-title">
              <div class="row">
                <div class="col-sm-6">
                  <h2>Gestion <b>Des Factures</b></h2>
                </div>
                <div class="col-sm-6">

                  <button class="btn btn-success" (click)="open(content)"><i class="material-icons">&#xE147;</i> <span>Nouvelle Facture</span>
                  </button>
                </div>
              </div>
            </div>
            <nav class="navbar">
              <input class="form-control" type="text" name="raisonSocial" [(ngModel)]="raisonSocial" (ngModelChange)="search()" placeholder="Entrer raison Social">
            </nav>
            <table class="table table-striped table-hover">
              <thead>
              <tr>
                <th> #</th>
                <th>RaisonSociale</th>
                <th> NumBonCommande</th>
                <th> NumFacture</th>
                <th>DateFacture</th>
                <th>TTC</th>
                <th>Structure</th>
                <th>Etat</th>
                <th>Annexe</th>
                <th>Action</th>

              </tr>
              </thead>
              <tbody>

              <tr *ngFor="let fac of factures  | paginate : { itemsPerPage:5,
                currentPage: page,
                totalItems: totalLength}
                ;">
                <th scope="row">{{fac.id}}</th>
                <td><span>{{fac.raisonSocial}}</span></td>
                <td><span>{{fac.numBonde}}</span></td>
                <td><span>{{fac.numFact}}</span></td>
                <td><span>{{fac.dateFact | date: 'shortDate'}}</span></td>
                <td><span>{{fac.ttc}}</span></td>
                <td><span>{{fac.structure.nomStructure}}</span></td>
                <td><span>{{fac.etat}}</span></td>
                <td>
                  <button [routerLink]="['/rbo/facture',fac.id]"> <span>Ajouter</span></button>
                </td>
                <td>
                  <!--edit-->
                  <a class="edit" data-toggle="modal" (click)="openEdit(contentEdit, fac)"><i class="material-icons"data-toggle="tooltip"title="Edit">
                    &#xE254; </i></a>
                  <!--delete--->
                  <a class="delete" data-toggle="modal" (click)="openDelete(contentDelete, fac)"><i
                    class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                  <!--details--->
                  <a class="details" data-toggle="modal" (click)="openEdit1(contentEdit1, fac)"><i
                    class="material-icons" data-toggle="tooltip" title="View">&#xE417;</i> </a>
                  <!--Notification-->
                  <a class="" (click)="saveNotification(fac.id, fac.structure)" ><i class="fa fa-paper-plane" aria-hidden="true"></i> </a>
                   <!--Imprimer--->
                   <a class="" [routerLink]="['/rbo/imprimer',fac.id]"  *ngIf="fac.etat=='Valider'" data-toggle="modal" ><i class="fa fa-print" aria-hidden="true"></i> </a>
                </td>
              </tr>
              </tbody>
            </table>
            <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>

        

         
<!-- Ajouter Facture-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nouvelle Facture </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>

      <div class="form-group">
        <label for="raisonSocial">RaisonSocial</label>
        <div class="input-group">
          <select class="select-custom"  name="raisonSocial" class="form-control" required #raisonSocial="ngModel" ngModel  required   >
            <option *ngFor="let f of fournisseur"  [value]="f.ABAN8">{{f.ABAN8}}</option>
        </select>
        </div>
      </div>

      <div class="form-group">
        <label for="numBonde">NumBondeCommande</label>
        <div class="input-group">
          <select class="select-custom"  name="numBonde"  class="form-control"   ngModel   #numBonde="ngModel"  required >
            <option *ngFor="let b of bon"  [value]="b.PHDOCO"   >{{b.PHDOCO}}</option>
        </select>
        </div>
        <span  class="error" *ngIf="numBonde.invalid && numBonde.touched" class="error">Il faut  le remplir</span>
      </div>
      <div class="form-group">
        <label for="numFact">NumFacture</label>
        <div class="input-group">
          <input id="numFact" name="numFact"  class="form-control"   ngModel   #numFact="ngModel"  required minlength="6">

        </div>
        <span  class="error" *ngIf="numFact.invalid   && numFact.touched" class="error">Il faut  le remplir</span>
      </div>
      <div class="form-group">
        <label for="dateFact">DateFacture</label>

        <input class="form-control"
        placeholder="dd-mm-yyyy"
        name="dateFact"
        [(ngModel)]="dateFact"
        ngbDatepicker #d="ngbDatepicker">
      </div>
      <div class="form-group">
        <label for="ttc">TTC</label>
        <div class="input-group">
          <input id="ttc"  class="form-control"  name="ttc"  ngModel required  #ttc="ngModel"    >
        </div>
        <span class="error" *ngIf="ttc.invalid  && ttc.touched" class="error">Il faut remplir</span>
      </div>
      <div class="form-group">
        <label for="structure">Structure</label>
        <div class="input-group">
         <!-- <input id="structure"  class="form-control"  name="structure"  ngModel required  #structure="ngModel">-->
         <input class="form-control" id="structure1"  name="structure1"  (input)="structFilterChange($event)" >
            <select class="select-custom" name="structure" id=""  ngModel required  #structure="ngModel" >
              <option *ngFor="let struct of filtredStructs"  [value]="struct.id"   >{{struct.nomStructure}}</option>
          </select>
        </div>
      </div>

      <!--<div class="form-group">
        <label for="etat">Etat</label>
        <div class="input-group">
          <input id="etat"  name="etat"    #etat="ngModel" ngModel class="form-control" required >
        </div>
        <span  class="error" *ngIf="etat.invalid && etat.touched" class="error">Il faut  le remplir</span>
      </div>-->
      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info">Ajouter</button>
      </div>
    </form>
  </div>


  <div class="modal-footer">
    <input type="button" class="btn btn-outline-dark" data-dismiss="modal"  (click)="modal.close('Save click')"value="Fermer">
  </div>

</ng-template>
     


      <!-- Détails facture-->
          <ng-template #contentEdit1 let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title2">Détaille Facture</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="editForm" novalidate>
                <div class="modal-body">
                  <div class="form-group">
                    <label>RaisonSociale</label>
                    <div class="input-group">
                      <input formControlName="raisonSocial" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>NumBande</label>
                    <div class="input-group">
                      <input formControlName="numBonde" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>NumFact</label>
                    <div class="input-group">
                      <input formControlName="numFact" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>DateFact</label>
                    <input class="form-control"
                    placeholder="dd-mm-yyyy"
                    name="dateFact"
                    formControlName="dateFact"
                   ngbDatepicker #d="ngbDatepicker">

                  </div>
                  <div class="form-group">
                    <label>TTC</label>
                    <div class="input-group">
                      <input formControlName="ttc" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Structure</label>
                    <div class="input-group">
                      <input formControlName="structure" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Etat</label>
                    <div class="input-group">
                      <input formControlName="etat" class="form-control">
                    </div>
                  </div>

                </div>
              </form>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-success" data-dismiss="modal" (click)=" Edit()">Modifier</button>
              <button data-dismiss="modal" class="btn btn-danger" (click)="deleteFacture()">Supprimer</button>
              <button type="button" class="btn btn-dark" (click)="modal.close('Save click')">Fermer</button>
            </div>
          </ng-template>


          <!---supprimer facture-->
          <ng-template #contentDelete let-modal>
            <div class="modal-header">
              <h4 class="modal-title">Confirmation de la suppression</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h2>Êtes-vous sûr de vouloir supprimer cette facture.</h2>

              <div class="border text-center">
                <button data-dismiss="modal" class="btn btn-danger" (click)="deleteFacture()">Oui, supprimez!</button>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Fermer</button>
            </div>
          </ng-template>


          <!----modifier facture -->
          <ng-template #contentEdit let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title2">Modifier Facture</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="editForm" novalidate>
                <div class="modal-body">
                  <div class="form-group">
                    <label>RaisonSociale</label>
                    <div class="input-group">
                      <input formControlName="raisonSocial" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>NumBande</label>
                    <div class="input-group">
                      <input formControlName="numBonde" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>NumFact</label>
                    <div class="input-group">
                      <input formControlName="numFact" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>DateFact</label>

                      <input class="form-control"
                    placeholder="dd-mm-yyyy"
                    formControlName="dateFact"
                   ngbDatepicker #d="ngbDatepicker">


                  </div>
                  <div class="form-group">
                    <label>TTC</label>
                    <div class="input-group">
                      <input formControlName="ttc" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Structure</label>
                    <div class="input-group">
                      <input formControlName="structure" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Etat</label>
                    <div class="input-group">
                      <input formControlName="etat" class="form-control">
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-success" data-dismiss="modal" (click)=" Edit()">Modifier</button>
              <button type="button" class="btn btn-dark" (click)="modal.close('Save click')">Fermer</button>
            </div>
          </ng-template>
       
    

      </body>
      </html>
    </div>


  </div>

</div>
