<app-header></app-header>

      <div class="container">
          <div class="table-wrapper">
            <div class="table-title">
              <div class="row">
                  <h2>Factures<b> Transférer</b></h2>
              </div>
            </div>
            <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
              <tr>
                <th> #</th>
                <th>RaisonSociale</th>
                <th> NumBonCommande</th>
                <th> NumFacture</th>
                <th>DateFacture</th>
                <th>TTC</th>
                <th>Structure</th>
                <th>Etat</th>
                <th>Annexe</th>
                <th>Action</th>

              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let fac of factures  |paginate : { itemsPerPage:5,
                currentPage: page,
                totalItems: totalLength  }
                ">
                <th scope="row">{{ fac.id }}</th>
                <td><span>{{fac.raisonSocial}}</span></td>
                <td><span>{{fac.numBonde}}</span></td>
                <td><span>{{fac.numFact}}</span></td>
                <td><span>{{fac.dateFact | date: 'shortDate'}}</span></td>
                <td><span>{{fac.ttc}}</span></td>
                <td><span>{{fac.structure}}</span></td>
                <td><span>{{fac.etat}}</span></td>
                <td>
                  <button [routerLink]="['/rs/facture',fac.id]"> <span>Consulter</span></button>
                </td>
                <td>
                    <!--Notification-->
                    <a class="edit" (click)="saveNotification(fac.id, fac.structure)" ><i class="fa fa-paper-plane" aria-hidden="true"></i> </a>
                    <!--Valider-->
                    <a class="valide" *ngIf="fac.etat=='Envoyer'" (click)="saveNotification2(fac.id, fac.structure)" ><i class="fa fa-check-circle" aria-hidden="true"></i> </a>
                  <!--Annuler-->
                  <a class="delete" *ngIf="fac.etat=='Envoyer'" (click)="saveNotification3(fac.id, fac.structure)" ><i class="fa fa-ban" aria-hidden="true"></i> </a>

                </td>
              </tr>
              </tbody>
            </table>
            <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
          </div>
         
      
        </div>
      </div>
