
<app-header></app-header>

<div class="container-fluid">
    <div class="row">
        <div class="container">

          <!DOCTYPE html>
          <html lang="en">
          <head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <title>Bootstrap CRUD Data Table for Database with Modal Form</title>
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
          <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
          <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

          <script>
          $(document).ready(function(){
            // Activate tooltip
            $('[data-toggle="tooltip"]').tooltip();

            // Select/Deselect checkboxes
            var checkbox = $('table tbody input[type="checkbox"]');
            $("#selectAll").click(function(){
              if(this.checked){
                checkbox.each(function(){
                  this.checked = true;
                });
              } else{
                checkbox.each(function(){
                  this.checked = false;
                });
              }
            });
            checkbox.click(function(){
              if(!this.checked){
                $("#selectAll").prop("checked", false);
              }
            });
          });


          </script>
          </head>
          <body>
          <div class="container-xl">
            <div class="table-responsive">
              <div class="table-wrapper">
                <div class="table-title">
                  <div class="row">
                    <div class="col-sm-6">
                      <h2>Gestion des Utilisateurs</h2>
                    </div>
                    <div class="col-sm-6">
                      <button class="btn btn-success" data-toggle="modal " (click)="open(content)"><i class="material-icons">&#xE147;</i> <span>Ajouter Utilisateur</span> </button>
                    </div>
                  </div>
                </div>
                <nav class="navbar">
                  <input class="form-control" type="text" name="nomPrenom" [(ngModel)]="nomPrenom" (ngModelChange)="search()" placeholder="Entrer nomPrenom de l'utilisateur">
                </nav>
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th>

                        </th>
                        <th>NomPrenom</th>
                        <th>Email </th>
                         <!-- <th>Password</th> -->
                        <th>Telephone </th>
                        <th>TypeStructure </th>
                        <th>Role</th>
                        <th>Etat</th>
                        <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of userList | paginate : { itemsPerPage:5, 
                      currentPage: page,
                      totalItems: totalLength 
                    };let index = index ">
                      <th scope="row">{{ index+1 }}</th>
                      <td><span>{{user.nomPrenom}}</span></td>
                      <td><span>{{user.email}}</span></td>
                      <td><span>{{user.telephone}}</span></td>
                      <td><span>{{user. type_structure}}</span></td>
                      <td><span>{{user.role}}</span></td>
                     <!---<div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked   (click)="Active(user.id)"  >
                        <label class="form-check-label" for="flexSwitchCheckChecked" ></label>
                     <a class="edit"  data-toggle="modal"  (click)="openEdit(contentChange, user)"></a>  -
                      </div>-->
                      <td><span>{{user.active}}</span>
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked     >
                          <label class="form-check-label" for="flexSwitchCheckChecked" ></label>
                          </div>
                      </td>
                      <td  >
                        <a  class="search" data-toggle="modal"><i class="fa fa-search" (click)="openDetails(contentDetails,user)"  aria-hidden="true"></i></a>
                         <!--edit-->
                         <a class="edit"  data-toggle="modal"  (click)="openEdit(contentEdit, user)"><i class="material-icons" data-toggle="tooltip" title="Edit" > &#xE254; </i></a>
                         <!-- <a class="edit"  data-toggle="modal"  (click)="openEdit(contentChange, user)"><i class="material-icons"toggle_off title="Edit" > &#xE254; </i></a> -->
                      
                      </td>

                  </tbody>

                </table>
                <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>

              </div>
            </div>
          </div>


          <!-- add user -->
          <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Ajouter nouveau Utilisateur </h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>

                <div class="form-group">
                  <label for="nom_prenom">NomPrenom </label>
                  <div class="input-group">
                    <input id="nomPrenom" name="nomPrenom" class="form-control" required #nom_prenom="ngModel" ngModel  required>
                  </div>
                  <span  class="error" *ngIf="nom_prenom.invalid && nom_prenom.touched" class="error">Il faut  le remplir</span>
                </div>

                <div class="form-group">
                  <label for="email">Email</label>
                  <div class="input-group">
                    <input id="email" name="email"  class="form-control"   ngModel   #email="ngModel"  required>
                  </div>
                  <span  class="error" *ngIf="email.invalid && email.touched" class="error">Il faut  le remplir</span>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <div class="input-group">
                    <input id="password" name="password" type="password" class="form-control"   ngModel   #password="ngModel"  required minlength="6">

                  </div>
                  <span  class="error" *ngIf="password.invalid   && password.touched" class="error">Il faut  le remplir</span>
                </div>
                <div class="form-group">
                  <label for="telephone">Téléphone</label>
                  <div class="input-group">
                    <input id="telephone" name="telephone" class="form-control"  required ngModel  #telephone="ngModel" required >
                  </div>
                  <span class="error" *ngIf="telephone && telephone.touched" class="error">il faut le remplir</span>
                </div>
                <div class="form-group">
                  <label for="type_structure">TypeStructure</label>
                  <div class="input-group">
                    <input id="type_structure"  class="form-control"  name="type_structure"  ngModel required  #type_structure="ngModel"    >
                  </div>
                  <span class="error" *ngIf="type_structure.invalid  && type_structure.touched" class="error">Il faut remplir</span>
                </div>
                <div class="form-group">
                  <label for="role">Role</label>
                  <div class="input-group">
                    <input id="role"  name="role" class="form-control" ngModel  required #role="ngModel"   >
                  </div>
                  <span class="error" *ngIf="role.invalid && role.touched" class="error">Il faut remplir</span>
                </div>

                <div class="form-group">
                  <label for="etat">Etat</label>
                  <div class="input-group">
                    <input id="etat"  name="etat"    #etat="ngModel" ngModel class="form-control" required >
                  </div>
                  <span  class="error" *ngIf="etat.invalid && etat.touched" class="error">Il faut  le remplir</span>
                </div>
                <div class="border text-center">
                  <button data-dismiss="modal" class="btn btn-info">Ajouter</button>
                </div>
              </form>
            </div>


            <div class="modal-footer">
              <input type="button" class="btn btn-outline-dark" data-dismiss="modal"  (click)="modal.close('Save click')"value="Fermer">
            </div>

          </ng-template>

         <!--Details -->
          <ng-template #contentDetails let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title1"> Les détails de utilisateur </h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>

                <div class="form-group">
                  <label for="nom_Prenom">NomPrenom</label>
                  <div class="input-group">
                    <input id="nomPrenomm"   class="form-control" readonly >
                  </div>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <div class="input-group">
                    <input id="emaill" class="form-control" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <div class="input-group">
                    <input id="passwordd" class="form-control" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label for="telephone">TéLéphone</label>
                  <div class="input-group">
                    <input id="telephonee"  class="form-control"  readonly >
                  </div>
                </div>

                <div class="form-group">
                  <label for="type_structure">TypeStructure</label>
                  <div class="input-group">
                    <input id="typeStructuree"  class="form-control" readonly >
                  </div>
                </div>
                <div class="form-group">
                  <label for="role">Role</label>
                  <div class="input-group">
                    <input id="rolee"   class="form-control"  readonly >
                  </div>
                </div>

                <div class="form-group">
                  <label for="etat">Etat</label>
                  <div class="input-group">
                    <input id="etatt"  class="form-control"   readonly>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Frmer</button>
            </div>
          </ng-template>






<!----modifier user -->
<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Modifier Utilisateur </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="editForm" novalidate  >
          <div class="modal-body">
                  <div class="form-group">
                      <label >NomPrenom</label>
                      <div class="input-group">
                          <input formControlName="nomPrenom" class="form-control">

                       </div>
                  </div>
                  <div class="form-group">
                      <label >Email</label>
                      <div class="input-group">
                          <input formControlName="email" class="form-control">
                       </div>
                  </div>
                  <div class="form-group">
                      <label >Password</label>
                        <div class="input-group">
                          <input formControlName="password" class="form-control">
                       </div>
                  </div>
                  <div class="form-group">
                      <label >Téléphone</label>
                      <div class="input-group">
                          <input formControlName="telephone" class="form-control">
                       </div>

                  </div>
                  <div class="form-group">
                      <label >Role</label>
                      <div class="input-group">
                          <input formControlName="role" class="form-control">
                       </div>
                  </div>
                  <div class="form-group">
                      <label >TypeStructure</label>
                      <div class="input-group">
                          <input formControlName="type_structure" class="form-control">
                       </div>
                  </div>
                  <div class="form-group">
                      <label >Etat</label>
                      <div class="input-group">
                          <input formControlName="etat" class="form-control">
                       </div>
                  </div>
                  <div class="form-group">
                      <label >DateCreation</label>
                      <div class="input-group">
                          <input formControlName="date_creation" class="form-control">
                       </div>
                      </div>
           </div>
    </form>
  </div>

  <div class="modal-footer">
      <button type="submit" class="btn btn-success" data-dismiss="modal" (click)=" Edit()" >Modifier</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Fermer</button>
    </div>
</ng-template>


<!--<ng-template #contentChange let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Modifier  Etat</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="editForm" novalidate  >
          <div class="modal-body">

                  <div class="form-group">
                      <label >Etat</label>
                      <div class="input-group">
                          <input formControlName="etat" class="form-control">
                       </div>
                  </div>

              <div class="border text-center">
                   <button type="submit" class="btn btn-success" data-dismiss="modal"  >edit</button>
              </div>
           </div>
    </form>
  </div>

  <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Fermer</button>
    </div>
</ng-template>-->


























































          </body>
          </html>
                  </div>



              </div>

          </div>
