<!--<div class="container mt-5" style="display: flex; justify-content: center">
  <div class="card" style="width: 18rem;" style="align-content: center">
    <div class="card-header">
      Bienvenue
    </div>
    <div class="card-body">
      <h5 class="card-title">Veuillez connecter pour continuer...</h5>
      <h2><a class="btn btn-success" [routerLink]="['/login']">login</a> <br><br></h2>
    </div>
  </div>
</div>-->

<!--Designed by CodingTuting.Com-->
<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Lato|Nanum+Gothic:700|Raleway&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" rel="stylesheet">
    <title>iTechnology</title>
</head>
<body>    
    
   <header id="topHeader"> 
      <div class="wrapper">
        <nav>
      

          <ul>
            <li><a href="#" [routerLink]="['/login']" >LOGIN</a></li>
            <li><a href="/home1">Home</a></li>
          </ul>

        </nav>
        
      </div>
    </header>
        
          
 
    <section id="intro">
        <div id="intro-info">
            <div>
                <h1>application de gestion du bureau d'ordre</h1>
                <div id="intro-tag-btn">
                    <span>Plus de 10 millions des facture au cours dans de chaque année.</span>

                </div>
            </div>
        </div>

        <div id="development-img">
            <img src="https://www.dropbox.com/s/7hwnjccu15vt90e/mobileDevlopment.svg?raw=1" alt="Mobile App Development" title="Mobile App Development"/>
        </div>
    </section>

    <section id="delivery">
        <h1 class="sec-heading">Offrir de l'expérience depuis 2014</h1>
        <div class="col-5 delivery-img">
            <img src="https://image.freepik.com/free-vector/visual-with-young-businessman-woman-have-meeting-plan-work-create-finance-target-technology-working-concept-isometric-illustration_1150-39545.jpg" alt="Productivity Delivering Experience" title="Delivering Experience Since 2009"/>
        </div>
        <div class="col-7">
            <h2>Accelerating your business growth with Digital Experiences</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br/><br/> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
         
        </div>
    </section>

    <section id="services">
        <h1 class="sec-heading">Nos services</h1>
        <ul>
            <li>
                <div>
                    <a href="">
                        <i class="fas fa-laptop"></i><span>Gestion des Facture</span>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="">
                        <i class="fas fa-users"></i><span>Gestion des uitlissatuer</span>
                    </a>
                </div>
            </li>
       
            <li>
                <div>
                    <a href="">
                        <i class="fab fa-chrome"></i><span>Gestion des structure</span>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="">
                        <i class="fas fa-ribbon"></i><span>Quality Analysis and Testing</span>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="">
                        <i class="fas fa-ticket-alt"></i><span>Application Management & Support</span>
                    </a>
                </div>
            </li>
        </ul>
        
    
    </section>
    
    
    <section id="highlights">
        <h1 class="sec-heading">Company Highlights</h1> 
    
        <div class="slider">
            <div class="col-6 slide-text">
                <div>
                    <h2>Team iTechnology at IBM, Americas 2019, Los Angeles</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                    </p>
                </div>
            </div>
            <div class="col-6 slide-img">
                <img src="https://image.freepik.com/free-vector/isometric-business-training-hall-composition-with-indoor-office-scenery-group-people-learning-marketing-skills_1284-56735.jpg" alt="Team Work in Los Angeles" title="Company Team Work"/>
            </div> 
        </div>
    </section>
  


    <footer>




       <div id="copyright">
           &copy; All Rights Reserved 2019-2020
       </div>
       <div id="owner">
           <span>
               Designed by <a href="https://www.codingtuting.com">CodingTuting.Com</a>
           </span>
       </div>
       <a href="#topHeader" id="gotop">Top</a>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="ScriptIT.js"></script>
    
</body>
</html>-->
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("https://scontent.fnbe1-2.fna.fbcdn.net/v/t1.15752-9/195306364_128742629323865_4402921709186477916_n.png?_nc_cat=107&ccb=1-3&_nc_sid=ae9488&_nc_ohc=3Qlr_7GFRkwAX8FGNGz&_nc_ht=scontent.fnbe1-2.fna&oh=52e78e169973d6fec9281be3f506e22e&oe=60DB1C08");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button w3-wide">MY GBO</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="/login" class="w3-bar-item w3-button"><i class="fa fa-user"></i> LOGIN</a>
      <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
  <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
  <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>
  <a href="#pricing" onclick="w3_close()" class="w3-bar-item w3-button">PRICING</a>
  <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
</nav>

<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white" style="padding:48px">

    <p><a href="#about" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off"><strong>  APPLICATION DE GESTION DU BUREAU D'ORDRE</strong> </a></p>
  </div> 
 
</header>

<!-- About Section -->
<div class="w3-container" style="padding:128px 16px" id="about">
  <h3 class="w3-center">NOS SERVICES</h3>
  <p class="w3-center w3-large">Principales services de notre application</p>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter">
      <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large">Gestion des factures</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-user-circle-o w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Gestion des utilisateur</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-area-chart w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Statistique</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Gestion des structures</p>
    </div>
  </div>
</div>



<!-- Team Section -->
<div class="w3-container" style="padding:128px 16px" id="team">
  <h3 class="w3-center">L'ÉQUIPE</h3>
  <p class="w3-center w3-large">Ceux qui dirigent cette application</p>
  <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="https://scontent.fnbe1-2.fna.fbcdn.net/v/t1.6435-9/159329531_1594443330749989_8134912329773367980_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=174925&_nc_ohc=02g1ShU9nXEAX8mBb0x&_nc_ht=scontent.fnbe1-2.fna&oh=a434809675034d1ae2c51853cec0f9cf&oe=60DDFD31" alt="John" style="width:100%">
        <div class="w3-container">
          <h3></h3>
          <p class="w3-opacity">Eya boulaabi</p>
          <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
   
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="https://www.innotechconsulting.com/images/zouhaier-ben-abdallah-Consultant-Snior-Fonctionnel-JDEdwards--Netsuite.jpg" alt="Mike" style="width:100%">
        <div class="w3-container">
          <h3></h3>
          <p class="w3-opacity">Zouhaier ben abdallh</p>
          <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="https://scontent.fnbe1-2.fna.fbcdn.net/v/t1.15752-9/194012373_3657240724380449_1515665666369893158_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=ae9488&_nc_ohc=_0dtvXFMD_kAX81C_7c&_nc_ht=scontent.fnbe1-2.fna&oh=73e1f4a34048125a5e62571155bf53cf&oe=60DB4502" alt="Dan" style="width:100%">
        <div class="w3-container">
          <h3></h3>
          <p class="w3-opacity">Amina ben naser</p>
          <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="https://scontent.fnbe1-2.fna.fbcdn.net/v/t1.6435-9/72450290_10212739995455115_2969305260469780480_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=174925&_nc_ohc=hi2LY-VeE6kAX_QqmPU&_nc_ht=scontent.fnbe1-2.fna&oh=3b3abd00eb94678962633cc7f1cf4306&oe=60DD0C2E" alt="Dan" style="width:100%">
        <div class="w3-container">
          <h3></h3>
          <p class="w3-opacity">Sami bhiri</p>
          <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Promo Section "Statistics" -->
<div class="w3-container w3-row w3-center w3-dark-grey w3-padding-64">
  <div class="w3-quarter">
    <span class="w3-xxlarge">14+</span>
    <br>Les partenaires
  </div>
  <div class="w3-quarter">
    <span class="w3-xxlarge">55+</span>
    <br>Projets réalisés
  </div>
  <div class="w3-quarter">
    <span class="w3-xxlarge">89+</span>
    <br>Happy Clients
  </div>
  <div class="w3-quarter">
    <span class="w3-xxlarge">150+</span>
    <br>Meetings
  </div>
</div>








<!-- Contact Section -->
<div class="w3-container w3-light-grey" style="padding:128px 16px" id="contact">
  <h3 class="w3-center">CONTACT</h3>
  <p class="w3-center w3-large">  Mettons-nous en contact. Envoie-nous un message::</p>
  <div style="margin-top:48px">
    <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i>Mnastir,Tunis</p>
    <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: +216 50 322 452</p>
    <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: mail@mail.com</p>
    <br>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-border" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-border" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-border" type="text" placeholder="Subject" required name="Subject"></p>
      <p><input class="w3-input w3-border" type="text" placeholder="Message" required name="Message"></p>
      <p>
        <button class="w3-button w3-black" type="submit">
          <i class="fa fa-paper-plane"></i> 
          ENVOYER LE MESSAGE
        </button>
      </p>
    </form>
    <!-- Image of location/map -->
    <img src="https://www.zefyr.net/wp-content/uploads/2016/11/banner-generaliste.jpg" class="w3-image w3-greyscale" style="width:100%;margin-top:48px">
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Créer par <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">Innotech Consulting</a></p>
</footer>
 
<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}
</script>

</body>
</html>-->
