
<app-header></app-header>

<div class="container-fluid">
    <div class="row">
            
            
                <div class="container">
                    <!-- contenu de page ici -->

                    <div>
                        <div style="display: block">
                          <canvas baseChart
                                [datasets]="barChartData"
                                [labels]="barChartLabels"
                                [options]="barChartOptions"
                                [legend]="barChartLegend"
                                [chartType]="barChartType"></canvas>
                        </div>
                      </div>





                    <!-- fin de contenu de page home -->
                </div>
                
            
           
    </div>
   
</div>

